*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
.first-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 6rem;
}

.left-image{
 width: 3rem;
}


.right-image{
    width: 1.6rem;
    opacity: 0.7;
    margin: 0px 10px;
}
.menu{
    width: 2.7rem;
    margin-left: 10px;
    margin-bottom: -8px;
}
.second-container{

 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 3rem;
}
.welcome{
    font-size: 4.3rem;
    font-weight: bold;
    width: 700px;
    text-align: center;
    color: rgb(60, 57, 57);
}
.store{
    color: rgb(21, 102, 21);
}
.third-container{

    width: 100%;
    height: auto;
    display: flex;
    margin-top: 3rem;
}
.left-container{


    width: 18%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    align-items: flex-start;
    justify-content:flex-start;
    padding-top: 4rem;
}
.product{
    
    font-weight: bold;
    color: darkgray;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 1.1rem;

}

label{
    margin: 0.5rem;
  font-size: 1rem;
  color: rgb(56, 56, 56);
  letter-spacing: 1px;
}
.right-container{

    width: 85%;
    height: 170vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
    align-items: center;
    justify-content: start;
}
.items{
width: 350px;
height: 430px;
background-color: #f1f3f4;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
position: relative;
margin: 2rem 2rem 6rem 1rem;

}
.pixel{
width: 328px;
transition-duration: 0.3s; 
margin-bottom: 22%;

}
.pixel:hover{ 
   transform: scale(1.15);
}

.footer{

height: 500px;
width: 100%;
}


.footermain{

    height: 200px;
    width: 100%;
    display: flex;
    justify-content: end;
}

ul li{
    list-style: none;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 15px;
    color: grey;
}

.first-footer1{

    width:20%;
    height:30%;

}
.first-footer2{

    width:20%;
    height:30%;
}

.footer1{
    border-top: 1px solid rgba(215, 215, 215, 0.934) ;
    margin-left: 200px;
    margin-right: 20px;
    display: flex;
    padding-left: 80px;
 
}
.last-footer-img{
    
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 20px;
    height: 20px;
    color: grey;
}
.flag{
    height: 1.2rem;
    margin-top: .8rem;
    margin-left: 350px;
}
.lastfooter-2{
 display: flex;

}
.last-text{
    
    margin-top: 1.2rem;
    margin-left: 1rem;
    margin-bottom: 10px;
    font-weight: 15;
    font-size: 12px;
    color: grey;
}

.name1{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: -3.5rem;
    margin-left: 3px;
    margin-right: 285px;
    text-align: center;
    color: black;
    white-space: nowrap;
    
}

.name2{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: -3.5rem;
    margin-left: 3px;
    margin-right: 270px;
    text-align: center;
    color: black;
    white-space: nowrap;
}

    .name3{
        font-size: 15px;
        font-weight: 500;
        margin-bottom: -3.5rem;
        margin-left: 3px;
        margin-right: 285px;
        text-align: center;
        color: black;
        white-space: nowrap;
}

.name4{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: -3.5rem;
    margin-left: 3px;
    margin-right: 285px;
    text-align: center;
    color: black;
    white-space: nowrap;
}

.name5{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: -3.5rem;
    margin-left: 3px;
    margin-right: 260px;
    text-align: center;
    color: black;
    white-space: nowrap;
}

.name6{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: -3.5rem;
    margin-left: 3px;
    margin-right: 100px;
    text-align: center;
    color: black;
    white-space: nowrap;
}

.name7{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0.75rem;
    margin-left: 3px;
    margin-right: 285px;
    text-align: center;
    color: black;
    white-space: nowrap;
}

.name8{
    font-size: 15px;
    font-weight: 500;
    margin-bottom:1.5rem;
    margin-left: 3px;
    margin-right: 225px;
    text-align: center;
    color: black;
    white-space: nowrap;
}

.name9{
    font-size: 15px;
    font-weight: 500;
    margin-bottom:-3rem;
    margin-left: 50px;
    margin-right: 285px;
    text-align: center;
    color: black;
    white-space: nowrap;
}

.name10{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: -3.5rem;
    margin-left: 100px;
    margin-right: 285px;
    text-align: center;
    color: black;
    white-space: nowrap;
}
.name{
   padding-right: 80%;
}